flows.json
[
    {
        "id": "a30a32123cd8c8a1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e1a33c0d6d89475",
        "type": "junction",
        "z": "a30a32123cd8c8a1",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "6adb043721e81ced"
            ]
        ]
    },
    {
        "id": "0ba8fec62c03b7f5",
        "type": "ui_group",
        "name": "LED",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "433047b2126b4254",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e9cadaa47e18b13f",
        "type": "ui_tab",
        "name": "Office",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "407f65bd4846c10c",
        "type": "ui_group",
        "name": "LED controller",
        "tab": "e9cadaa47e18b13f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6adb043721e81ced",
        "type": "rpi-gpio out",
        "z": "a30a32123cd8c8a1",
        "name": "Red Led",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "a62b8734940c91fc",
        "type": "debug",
        "z": "a30a32123cd8c8a1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "249a3d72955c026c",
        "type": "rpi-gpio in",
        "z": "a30a32123cd8c8a1",
        "name": "Button",
        "pin": "4",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "b8583dbec6b0b715",
                "a62b8734940c91fc"
            ]
        ]
    },
    {
        "id": "b8583dbec6b0b715",
        "type": "switch",
        "z": "a30a32123cd8c8a1",
        "name": "if INPUT is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "f164d5c93a8237a9"
            ],
            [
                "aa66380b403d025e"
            ]
        ]
    },
    {
        "id": "f164d5c93a8237a9",
        "type": "change",
        "z": "a30a32123cd8c8a1",
        "name": "change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "9e1a33c0d6d89475"
            ]
        ]
    },
    {
        "id": "aa66380b403d025e",
        "type": "change",
        "z": "a30a32123cd8c8a1",
        "name": "change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "9e1a33c0d6d89475"
            ]
        ]
    },
    {
        "id": "669e2a7493994e5c",
        "type": "comment",
        "z": "a30a32123cd8c8a1",
        "name": "Build dashboard",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "a357253107f68810",
        "type": "ui_switch",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "label": "Switch Led RED",
        "tooltip": "",
        "group": "407f65bd4846c10c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "6adb043721e81ced"
            ]
        ]
    }
]