flows.json
[
    {
        "id": "a30a32123cd8c8a1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a80bcf34770d3148",
        "type": "junction",
        "z": "a30a32123cd8c8a1",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "6adb043721e81ced",
                "6028dd4ab8e8e0d4"
            ]
        ]
    },
    {
        "id": "0ba8fec62c03b7f5",
        "type": "ui_group",
        "name": "LED",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "433047b2126b4254",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e9cadaa47e18b13f",
        "type": "ui_tab",
        "name": "Office",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "407f65bd4846c10c",
        "type": "ui_group",
        "name": "LED controller",
        "tab": "e9cadaa47e18b13f",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71a85e7ef41d2de2",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "d6c027a7a4b2c2b1",
        "type": "ui_tab",
        "name": "Relay",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d57f1430481aed17",
        "type": "ui_group",
        "name": "AC 220V",
        "tab": "d6c027a7a4b2c2b1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38749d93fbaea412",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "d6c027a7a4b2c2b1",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "0924c6ad7d4f6b1b",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "d6c027a7a4b2c2b1",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "53cef72622a3267f",
        "type": "ui_link",
        "name": "Link 3",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 3
    },
    {
        "id": "6adb043721e81ced",
        "type": "rpi-gpio out",
        "z": "a30a32123cd8c8a1",
        "name": "Red Led - Pin 11",
        "pin": "17",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "b8583dbec6b0b715",
        "type": "switch",
        "z": "a30a32123cd8c8a1",
        "name": "if INPUT is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "f164d5c93a8237a9"
            ],
            [
                "aa66380b403d025e"
            ]
        ]
    },
    {
        "id": "f164d5c93a8237a9",
        "type": "change",
        "z": "a30a32123cd8c8a1",
        "name": "change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "6adb043721e81ced",
                "7a01b5f3d120e4a4"
            ]
        ]
    },
    {
        "id": "aa66380b403d025e",
        "type": "change",
        "z": "a30a32123cd8c8a1",
        "name": "change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "6adb043721e81ced",
                "7a01b5f3d120e4a4"
            ]
        ]
    },
    {
        "id": "669e2a7493994e5c",
        "type": "comment",
        "z": "a30a32123cd8c8a1",
        "name": "Build dashboard",
        "info": "",
        "x": 120,
        "y": 280,
        "wires": []
    },
    {
        "id": "a357253107f68810",
        "type": "ui_switch",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "label": "Switch Led RED",
        "tooltip": "",
        "group": "407f65bd4846c10c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "6adb043721e81ced",
                "83805fa39702fc7e"
            ]
        ]
    },
    {
        "id": "bb91287461f98755",
        "type": "rpi-gpio in",
        "z": "a30a32123cd8c8a1",
        "name": "PIR sensor - Pin 38",
        "pin": "20",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "a80bcf34770d3148"
            ]
        ]
    },
    {
        "id": "8419a4c9770824b6",
        "type": "rpi-gpio in",
        "z": "a30a32123cd8c8a1",
        "name": "Button 4 sw - Pin 40",
        "pin": "21",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "b8583dbec6b0b715"
            ]
        ]
    },
    {
        "id": "83805fa39702fc7e",
        "type": "change",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "On",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "Off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "44a871d8663ccde2"
            ]
        ]
    },
    {
        "id": "44a871d8663ccde2",
        "type": "ui_text_input",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "label": "Led status",
        "tooltip": "",
        "group": "407f65bd4846c10c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 910,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7a01b5f3d120e4a4",
        "type": "change",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 380,
        "wires": [
            [
                "a357253107f68810"
            ]
        ]
    },
    {
        "id": "ff5c023bda06590a",
        "type": "ui_switch",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "label": "Relay 1",
        "tooltip": "",
        "group": "d57f1430481aed17",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "d107cac5ba5de45b"
            ]
        ]
    },
    {
        "id": "d107cac5ba5de45b",
        "type": "rpi-gpio out",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "pin": "6",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "6035b46383162737",
        "type": "ui_switch",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "label": "Relay 2",
        "tooltip": "",
        "group": "d57f1430481aed17",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "4944dc670ad8e10b"
            ]
        ]
    },
    {
        "id": "4944dc670ad8e10b",
        "type": "rpi-gpio out",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "6028dd4ab8e8e0d4",
        "type": "change",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "On",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "Off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 40,
        "wires": [
            [
                "d48610edbf8a0884"
            ]
        ]
    },
    {
        "id": "d48610edbf8a0884",
        "type": "ui_text_input",
        "z": "a30a32123cd8c8a1",
        "name": "",
        "label": "PIR sensor",
        "tooltip": "",
        "group": "407f65bd4846c10c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 930,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b21a322bd9a323f1",
        "type": "ui_text",
        "z": "a30a32123cd8c8a1",
        "group": "407f65bd4846c10c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Controller status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "179cc0d8883a947c",
        "type": "ui_text",
        "z": "a30a32123cd8c8a1",
        "group": "407f65bd4846c10c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Led status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 340,
        "wires": []
    }
]